@import './_variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// header

.header {
  height: 170px;
  padding-bottom: 35px;
  background-color: $dark;
  color: #fff;

  &__wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: 0 1px 1px 0;
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;

    &-item {
      position: relative;
      line-height: 1.5;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;

      &::after {
        content: '|';
        font-size: 22px;
        font-weight: 500;
        font-family: 'Nunito', sans-serif;
        position: absolute;
        right: -13px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}

//intro

.intro {
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.51);

  &__wrapper {
    display: flex;
    gap: 100px;
  }
  &__info {
    width: 605px;
    position: relative;

    &::before {
      content: '';
      width: 3px;
      height: 100%;
      background-color: #000;
      position: absolute;
      top: 20px;
      left: -20px;
    }

    &-suptitle {
      font-weight: 800;
      font-size: 20px;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.3);
    }

    &-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.3;
    }

    &-desc {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
    }

    &-sign {
      display: flex;
      align-items: center;
      font-weight: 700;
      line-height: 1.5;
      font-size: 30px;
      svg {
        width: 70px;
        height: 40px;
      }
    }
  }

  &__slider {
    &-wrapper {
      width: 800px;
    }

    &-block {
      padding-bottom: 50px;
      div {
        height: 350px;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .intro__slider {
    padding-bottom: 40px;
  }

  .swiper__wrapper {
    position: relative;
  }

  .swiper__slide {
    background-color: red;
  }

  .swiper-pagination {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    z-index: 10;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    margin: 4px;
    background-color: #cecece;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid transparent;

    &-active {
      margin: 0;
      width: 12px;
      height: 12px;
      border: 2px solid #000;
    }
  }
}

// video

.video {
  position: relative;
  height: 630px;
  padding: 50px 0;

  &__wrapper {
    width: 930px;
    height: 530px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__button {
    border: none;
    display: block;
    width: 65px;
    height: 65px;
    padding: 10px;
    border-radius: 100%;
    background: #fff url(../assets/video.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
  }

  video {
    width: 930px;
    height: 530px;
  }
}

// card

.card__s {
  text-align: center;
}

.card__block {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  img {
    width: 420px;
    height: 500px;
    border-radius: 10px;
  }
}

//what he can

.what::before {
  position: absolute;
  content: '';
  max-width: 1440px;
  width: 100%;
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.51);
  margin-left: 240px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.what::after {
  position: absolute;
  content: '';
  max-width: 1440px;
  width: 100%;
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.51);
  margin-left: 240px;
  top: 710px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  position: absolute;
  bottom: 45px;
  left: 45px;
  font-size: 20px;
  font-weight: 600;
  color: rgba($color: #000000, $alpha: 0.5);
}

.swiper-pagination-current {
  color: #000;
}

.what {
  position: relative;
  background-color: #ecf8fc;
  margin-top: 200px;

  &__slider-wrapper {
    width: 758px;
    height: 547px;
    background-color: #fff;
    border-radius: 40px;
    border: 7px solid $grey;
    position: relative;
  }

  &__slider {
    &-block {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 547px;
    }

    &-buttons {
      z-index: 10;
      position: absolute;
      top: 45px;
      left: 45px;
      display: flex;
      gap: 10px;
    }

    &-prev,
    &-next {
      border: none;
      width: 29px;
      height: 22px;
      cursor: pointer;
    }

    &-prev {
      background: url(../assets/prev.svg) no-repeat center;
    }

    &-next {
      background: url(../assets/next.svg) no-repeat center;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    gap: 105px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__block {
    width: 470px;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    h1 {
      margin-bottom: 25px;
    }
    &__text {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
    &__ps {
      margin-top: 70px;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.5);
      text-align: end;
      position: relative;
    }
    &__ps::after {
      content: '';
      position: absolute;
      width: 300px;
      background-color: rgba(0, 0, 0, 0.5);
      height: 1px;
      left: 160px;
      top: 30px;
    }
  }
}

// decisions

.decisions {
  margin-top: 200px;
  text-align: center;
}
